#content{
    font-family:"sans-serif";
    background-color: #525202;
  }
h1{
  text-align: center;
  color: #ecede6;
  size: 40px;
}

h2 {
  color: white;
  size:30px;
  text-align: center;
}
p {
  size:15px;
  padding: 8px;
  margin: auto;
  border: 12px;
  padding-top: 2px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
img{
  float:center;
  padding: inherit;
  box-shadow: 6px 8px 15px #525202;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a:hover{
  text-decoration: underline;
}
