h1 {
  color: #ecede6;
  text-shadow:-1px 0 #525202,
    0 1px #525202,
    1px 0 #525202,
    0 -1px #525202;
  size: 20%;
  float: center;
}

h2 {
  color: white;
  size:20%;
}
p {
  color: #c5cab3;
  size:12px;
}

img {
  float:center;
  width: 300px;
  height: 250px;s
  padding: inherit;
  box-shadow: 6px 8px 15px #525202;
}
div.column{
column-count: 2;
}
div#column {
  column-count: 2
}
#content{
    font-family:"sans-serif";
    background-color:#77824f;
    padding-top:25px;
    padding-bottom: 25px;
    padding:50px;
    padding-right:50px;
    float: right;
}
