h1 {
  color: #ecede6;
  size: 200%;
}

h2 {
  color: white;
  size: 100%;
}

h3 {
  color: white;
  size:60%;
}
p {
  color: #c5cab3;
  size:12px;
}

img {
  float: center;
  width: 300px;
  height: auto;
  box-shadow: 6px 8px 15px #C2FF0A;
}

#content{
    font-family:"sans-serif";
    background-color:#77824f;
    padding-top:25px;
    padding-bottom: 25px;
    padding: 50px;
    padding-right:50px;

}
